<footer>
    <p>Data retrieved from 
        <a href="https://vandal.elespanol.com/rankings/playstation-2">Vandal</a> 
        and <a href="https://en.wikipedia.org/wiki/List_of_best-selling_PlayStation_2_video_games">Wikipedia</a> 
    </p>
</footer>