header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 113, 202);
  color: white;
}
header > * {
  margin: 10px;
  text-align: center;
}
header a {
  text-decoration: none;
}
